body{
    font-family: 'Lobster', cursive;
    background-color: papayawhip;
}
.header_div{
    background-color: palegreen;
    color: royalblue;
}
.header_div p{
    font-family: 'Satisfy', cursive;
    color: tomato;
    letter-spacing: 2px;
    font-size: 20px;
    font-weight: bold;
}
.main_div button{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-top: 30px;
    width: 130px;
    font-weight: bolder;
    letter-spacing: 3px;
}
.copy_right_footer{
    position: fixed;
    color: crimson;
    bottom: 0;
    width: 100%;
    font-size: 20px;
    background-color: lightseagreen;
    line-height: 3;
    text-align: center;
    text-shadow: 5px 5px 5px lightsalmon;
}
